{{/* 
get_featured_image function - returns featured image URL from front matter or resource RelPermalink
Handles both string URLs and resource objects safely without image processing
*/}}
{{- $page := . -}}
{{- $featured_image := "" -}}

{{/* Check for featured image in various front matter locations */}}
{{- if $page.Params.image -}}
  {{- $image := $page.Params.image -}}
  {{- if reflect.IsMap $image -}}
    {{/* If image is a map, try to get filename or RelPermalink */}}
    {{- if $image.filename -}}
      {{- $featured_image = $image.filename -}}
    {{- else if $image.RelPermalink -}}
      {{- $featured_image = $image.RelPermalink -}}
    {{- end -}}
  {{- else -}}
    {{/* If image is a string, use it directly */}}
    {{- $featured_image = $image -}}
  {{- end -}}
{{- else if $page.Params.header.image -}}
  {{- $featured_image = $page.Params.header.image -}}
{{- else if $page.Params.featured_image -}}
  {{- $featured_image = $page.Params.featured_image -}}
{{- end -}}

{{/* If we have a relative path, try to find it as a page resource */}}
{{- if and $featured_image (not (hasPrefix $featured_image "http")) -}}
  {{- $resource := $page.Resources.GetMatch $featured_image -}}
  {{- if $resource -}}
    {{- $featured_image = $resource.RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- return $featured_image -}}